# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cake build
.dotnet
/tools/

eslint-report.json
.vscode/
.eslintcache

# Cypress test
/cypress/videos
/npm-debug.log
/.idea/
/cypress/screenshots
/test-results/
/cypress/fixtures/tokens.json
/package-lock.json


# Ignoring cypress.en.json
/cypress.env.json